.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
    min-width: 360px;
}

.home__row{
    display: flex;
    z-index: -1;
    margin-left: 5px;
    margin-right: 5px;
}


